In [1]:
'''_In this script, we ..._'''

'_In this script, we ..._'

In [2]:
# -*- coding: utf-8 -*- #
# Authors: gracecaj@stud.ntnu.no, sbaarak@stud.ntnu.no, & annakale@stud.ntnu.no
# Date: 19/09/2023

In [3]:
#%%
#* Import the code needed
import os
import pandas as pd
from pathlib import Path
import numpy as np
import xarray as xr
pd.set_option('display.float_format',  '{:,.2f}'.format)

In [4]:
#%%
#* Define paths
directory_path = Path('../../')

# Import all the raw datasets

In [5]:
#%%
#* Import all population datasets

population_1600s = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'Population' / 
    'raw_pop_1600_1650.xlsx', index_col=0)

population_time_series = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'Population' / 
    'population_time_series.xlsx', index_col=0)

population_projections = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'Population' / 
    'population_projections.xlsx', index_col=0)

#* Display datasets to check how their structure look
print(population_1600s)
print(population_time_series)
print(population_projections)

      Population
Year
1600      400000
1650      450000
      Population
Year
1735      616109
1736      622197
1737      626986
1738      630253
1739      634164
...          ...
2019     5328212
2020     5367580
2021     5391369
2022     5425270
2023     5488984

[289 rows x 1 columns]
      Population
Year
2024     5464158
2025     5473495
2026     5482414
2027     5490340
2028     5497527
2029     5503826
2030     5508990
2031     5512969
2032     5515632
2033     5517185
2034     5517705
2035     5517010
2036     5515037
2037     5512045
2038     5507972
2039     5502793
2040     5496740
2041     5489938
2042     5482140
2043     5473327
2044     5463902
2045     5453460
2046     5442148
2047     5429952
2048     5416499
2049     5402030
2050     5386454

In [6]:
#%%
#* Import all PpD datasets

PpD_2000s = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'PpD' / 'raw_PpD_2000s.xlsx',
    index_col=0, skiprows=[
        0, 1, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 
        41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 
        57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72])

PpD_1900s = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'PpD' / 'raw_PpD_1900s.xlsx',
    index_col=0, skiprows=[
        0, 1, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 
        25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 
        41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55])

PpD_1800s = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'PpD' / 
    'raw_PpD_1800_1900.xlsx', index_col=0)

#* Display datasets to check how their structure look
print(PpD_2000s)
print(PpD_1900s)
print(PpD_1800s)

      Personer per privathusholdning
1960                            3.27
1970                            2.94
1980                            2.66
1990                            2.40
2001                            2.29
2005                            2.27
2006                            2.26
2007                            2.25
2008                            2.23
2009                            2.22
2010                            2.22
2011                            2.22
2012                            2.22
2013                            2.21
2014                            2.20
2015                            2.20
2016                            2.19
2017                            2.19
2018                            2.17
2019                            2.16
2020                            2.15
2021                            2.13
2022                            2.12
2023                            2.11
      Personer per husholdning
Year
1920                      4.30
1930                      3.98
1946                      3.36
1950                      3.25
1960                      3.27
1970                      2.94
1980                      2.66
1990                      2.40
      PpD
Year
1801 5.40
1874 4.70
1900 4.30

In [7]:
#%%
#* Import the UFApD as three seperate datasets for the diff types

UFApD_raw_SFH = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'UFApD' / 'raw_UFApD.xlsx',
    usecols='A, B')

UFApD_raw_TH = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'UFApD' / 'raw_UFApD.xlsx',
    usecols='A, C')

UFApD_raw_AB = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'UFApD' / 'raw_UFApD.xlsx',
    usecols='A, D')

#* Display datasets to check how their structure look
print(UFApD_raw_SFH)
print(UFApD_raw_TH)
print(UFApD_raw_AB)

   Unnamed: 0  SFH
0        1890  254
1        1963  228
2        1975  152
3        1985  123
4        1995  159
5        2005  322
6        2012  184
   Unnamed: 0   TH
0        1890  108
1        1963   99
2        1975  119
3        1985  113
4        1995  101
5        2005  103
6        2012   99
   Unnamed: 0  AB
0        1890  75
1        1963  64
2        1975  94
3        1985  76
4        1995  69
5        2005  76
6        2012  67

In [8]:
#%%
# Import all Dwelling Lifetime datasets (might not be needed)
lifetime_data = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'Dwelling_Lifetime' / 
    'lifetime_raw_data_new.xlsx', index_col=0, 
    dtype={'Std_dev': np.float})

C:\Users\grace\AppData\Local\Temp\ipykernel_40156\2149817756.py:5: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  index_col=0, dtype={'Std_dev': np.float})

In [9]:
#%%
#* Import all Energy Intensity datasets

In [10]:
#%%
#* Import all Carbon Intensity datasets

carbon_intensity_raw = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'Carbon_Intensity' / 
    'raw_energy_and_carbon_intensity.xlsx', sheet_name= 'Sheet2', 
    index_col=[0,1,2], skiprows=[0])

In [11]:
raw_type_split = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'Type_Split' / 
    'type_split_raw.xlsx', index_col=[0])
raw_type_split

                    SFH      TH      AB   Total
Age classes
1955 and before  401482  143241  179666  724389
1956 - 1970      227929   81577  121358  430864
1971 - 1980      219673   72521   91387  383581
1981 - 1990      202228   70619   57471  330318
1991 - 2000      109696   55632   65056  230384
2001 - 2010       98808   67624  126975  293407
2011 and after    19144   13929   23194   56267

In [12]:
#%%
#* Import all Renovation datasets

# Clean the datasets as necessary

In [13]:
#* Cleaning the PpD datasets
# standardize the column labels
PpD_2000s = PpD_2000s.rename(
    columns={'Personer per privathusholdning': 'PpD'})
PpD_1900s = PpD_1900s.rename(
    columns={'Personer per husholdning': 'PpD'})

# standardize the index names
PpD_2000s.index.name = 'Year'

# drop reduntant datapoints in PpD_2000s
PpD_2000s = PpD_2000s.drop(index=[1960, 1970, 1980, 1990])

# print datasets for quality check
print(PpD_2000s)
print(PpD_1900s)
print(PpD_1800s)

      PpD
Year
2001 2.29
2005 2.27
2006 2.26
2007 2.25
2008 2.23
2009 2.22
2010 2.22
2011 2.22
2012 2.22
2013 2.21
2014 2.20
2015 2.20
2016 2.19
2017 2.19
2018 2.17
2019 2.16
2020 2.15
2021 2.13
2022 2.12
2023 2.11
      PpD
Year
1920 4.30
1930 3.98
1946 3.36
1950 3.25
1960 3.27
1970 2.94
1980 2.66
1990 2.40
      PpD
Year
1801 5.40
1874 4.70
1900 4.30

In [14]:
#raw_type_split.set_index('Age classes', inplace=True)
#raw_type_split.drop(index='SUM', inplace=True)
#raw_type_split['SFH'] = raw_type_split['SFH'].astype('float64')
#raw_type_split['TH'] = raw_type_split['TH'].astype('float64')
#raw_type_split['AB'] = raw_type_split['AB'].astype('float64')
#raw_type_split['Total'] = raw_type_split['Total'].astype('float64')
#raw_type_split

In [15]:
#* Cleaning UFApD

UFApD_raw_SFH.rename(
    columns={'Unnamed: 0': 'Year', 'SFH': 'UFApD'}, inplace=True)
UFApD_raw_TH.rename(
    columns={'Unnamed: 0': 'Year', 'TH': 'UFApD'}, inplace=True)
UFApD_raw_AB.rename(
    columns={'Unnamed: 0': 'Year', 'AB': 'UFApD'}, inplace=True)

UFApD_raw_SFH = UFApD_raw_SFH.set_index('Year')
UFApD_raw_TH = UFApD_raw_TH.set_index('Year')
UFApD_raw_AB = UFApD_raw_AB.set_index('Year')

print(UFApD_raw_SFH)
print(UFApD_raw_TH)
print(UFApD_raw_AB)

      UFApD
Year
1890    254
1963    228
1975    152
1985    123
1995    159
2005    322
2012    184
      UFApD
Year
1890    108
1963     99
1975    119
1985    113
1995    101
2005    103
2012     99
      UFApD
Year
1890     75
1963     64
1975     94
1985     76
1995     69
2005     76
2012     67

In [16]:
#Calculate standard devision column by multiplying mean lifetime with sigma:
lifetime_data['std_dev'] = lifetime_data[
    'Average lifetime'] * lifetime_data['Sigma']
std_dev = lifetime_data['std_dev']

# Remove the 'sigma' column
lifetime_data = lifetime_data.drop('Sigma', axis=1)

# Combine the datasets into one per parameter

In [17]:
raw_type_split

                    SFH      TH      AB   Total
Age classes
1955 and before  401482  143241  179666  724389
1956 - 1970      227929   81577  121358  430864
1971 - 1980      219673   72521   91387  383581
1981 - 1990      202228   70619   57471  330318
1991 - 2000      109696   55632   65056  230384
2001 - 2010       98808   67624  126975  293407
2011 and after    19144   13929   23194   56267

In [18]:
raw_type_split['% SFH'] = raw_type_split.loc[
    :,'SFH'] / raw_type_split.loc[:,'Total']
raw_type_split['% TH'] = raw_type_split['TH'] / raw_type_split['Total']
raw_type_split['% AB'] = raw_type_split['AB'] / raw_type_split['Total']

raw_type_split.drop(columns=['SFH','TH','AB','Total'], inplace=True)
raw_type_split

                 % SFH  % TH  % AB
Age classes
1955 and before   0.55  0.20  0.25
1956 - 1970       0.53  0.19  0.28
1971 - 1980       0.57  0.19  0.24
1981 - 1990       0.61  0.21  0.17
1991 - 2000       0.48  0.24  0.28
2001 - 2010       0.34  0.23  0.43
2011 and after    0.34  0.25  0.41

In [19]:
historical_pop = pd.concat(
    [population_1600s, population_time_series,population_projections])

In [20]:
#%%
#* Combine the PpD datasets into one time series
historical_PpD = pd.concat([PpD_1800s, PpD_1900s,PpD_2000s])

# print for quality check
print(historical_PpD)

      PpD
Year
1801 5.40
1874 4.70
1900 4.30
1920 4.30
1930 3.98
1946 3.36
1950 3.25
1960 3.27
1970 2.94
1980 2.66
1990 2.40
2001 2.29
2005 2.27
2006 2.26
2007 2.25
2008 2.23
2009 2.22
2010 2.22
2011 2.22
2012 2.22
2013 2.21
2014 2.20
2015 2.20
2016 2.19
2017 2.19
2018 2.17
2019 2.16
2020 2.15
2021 2.13
2022 2.12
2023 2.11

# Export the new datasets into the cleaned and combined data folder

In [21]:
historical_PpD.to_excel(
    directory_path / 
    'data/cleaned_and_combined_data/PpD/historical_PpD.xlsx')

In [22]:
UFApD_raw_SFH.to_excel(
    directory_path / 
    'data/cleaned_and_combined_data/UFApD/historical_UFApD_SFH.xlsx')
UFApD_raw_TH.to_excel(
    directory_path / 
    'data/cleaned_and_combined_data/UFApD/historical_UFApD_TH.xlsx')
UFApD_raw_AB.to_excel(
    directory_path / 
    'data/cleaned_and_combined_data/UFApD/historical_UFApD_AB.xlsx')

In [23]:
carbon_intensity_raw.to_excel(
    directory_path / 
    'data/cleaned_and_combined_data/Carbon_Intensity/Carbon_Intensity_Constants.xlsx')

In [24]:
historical_pop.to_excel(
    directory_path / 
    'data/cleaned_and_combined_data/Population/Norway_population_clean.xlsx')

In [25]:
raw_type_split.to_excel(
    directory_path / 
    'Data/cleaned_and_combined_data/Type_Split/Type_Split_ratios.xlsx')

In [26]:
lifetime_data.to_excel(
    directory_path / 
    'Data/cleaned_and_combined_data/Dwelling_Lifetime/Cleaned_Dwelling_Lifetime.xlsx')