Clean Type-split-data from 2012. 
Find percentage of each dwelling type, Single Family House (SFH), Terraced House (TH) and Apartment Block (AB).
Result:
SFH_ratio   52.22%
TH_ratio    20.62%
AB_ratio    27.16%

If we want to compare the ratios with data from 2011:
SFH_ratio   52.9% Detached house
TH_ratio    21%  House with 2 dwellings + Row house, linked house and house with 3 dwellings or more
AB_ratio    22.7% Multi-dwelling building
Other        3.4% Residence for communities and other building

https://www.ssb.no/101960/occupied-dwellings-and-occupants-by-type-of-building-county-municipality-and-urban-district.2011.per-cent

If we want to compare the ratio of Detached house among occupied buildings (assume close to Single Family House (SFH), but includes even more) for 1980, 1990, 2001 and 2011:
SFH_ratio   52.9%   Detached house in 1980
SFH_ratio   58.1%   Detached house in 1990
SFH_ratio   57.1%   Detached house in 2001
SFH_ratio   52.9%   Detached house in 2011

https://www.ssb.no/101962/occupied-dwellings-and-occupants-by-type-of-building.1980-1990-2001-and-2011

In [59]:
#All imports
import pandas as pd
import numpy as np

import os
from pathlib import Path
import copy
import matplotlib.pyplot as plt
from datetime import datetime
import sys
from scipy.optimize import curve_fit

In [60]:
#* Define paths
directory_path = Path('../../../')

In [61]:
# File path
##file = "raw_type_split.xlsx" #only works if the file is in the same folder

# Read the Excel file, only Number of dwellings (#)
# Ignoring Number of buildings (#) and Utility floor space (1000 mÂ²)
usecols = [0] + list(range(5, 9)) # Ignore the unwanted colums
skiprows = 0, # Ignore the header
##data = pd.read_excel(file, header=0, usecols=usecols, skiprows=skiprows)
data = pd.read_excel(
    directory_path / 'data' / 'raw_data' / 'Type_Split' / 'raw_type_split.xlsx',
    header=0, usecols=usecols, skiprows=skiprows)

# Display all the wanted data
data.head(9)

       Age classes      SFH.1     TH.1     AB.1    Total.1
0  1955 and before    401 482  143 241  179 666    724 389
1      1956 - 1970    227 929   81 577  121 358    430 864
2      1971 - 1980    219 673   72 521   91 387    383 581
3      1981 - 1990    202 228   70 619   57 471    330 318
4      1991 - 2000    109 696   55 632   65 056    230 384
5      2001 - 2010     98 808   67 624  126 975    293 407
6   2011 and after     19 144   13 929   23 194     56 267
7              SUM  1 278 960  505 143  665 107  2 449 210

In [62]:
# Creating a pandas series object of the last row with SUM of Dwellings in 2012
SUM_dwellings = pd.Series([1278960, 505143, 665107, 2449210])
SUM_dwellings.index = ['SFH', 'TH', 'AB', 'Total'] # Assigning names to the values

# Dividing SUM values for each type, SFH, TH, and AB, by Total and storing them as new parameters
SUM_dwellings['SFH_ratio'] = SUM_dwellings['SFH'] / SUM_dwellings['Total']
SUM_dwellings['TH_ratio'] = SUM_dwellings['TH'] / SUM_dwellings['Total']
SUM_dwellings['AB_ratio'] = SUM_dwellings['AB'] / SUM_dwellings['Total']

# Display the ratios as both decimals and percentages
#pd.set_option('display.float_format', '{:.2f}'.format) # To display option to show numbers in standard decimal notation
pd.set_option('display.float_format', '{:.2%}'.format)

# Display the result
print(SUM_dwellings[['SFH_ratio', 'TH_ratio', 'AB_ratio']])

SFH_ratio   52.22%
TH_ratio    20.62%
AB_ratio    27.16%
dtype: float64

In [63]:
#Make results to dataframe
new_data = {'SFH_ratio': [0.5222], 'TH_ratio': [0.2062], 'AB_ratio': [0.2716]}

# Create a DataFrame
Type_Split_ratios = pd.DataFrame(new_data)

# Display the new DataFrame
print(Type_Split_ratios)
#result_dataframe.head()

   SFH_ratio  TH_ratio  AB_ratio
0     52.22%    20.62%    27.16%

In [64]:
#Export to excel-file in folder
Type_Split_ratios.to_excel(directory_path / 
                 'Data/cleaned_and_combined_data/Type_Split/Type_Split_ratios.xlsx')