Clean Type-split-data from 2012. 
Find percentage of each dwelling type, Single Family House (SFH), Terraced House (TH) and Apartment Block (AB).
Result:
SFH_ratio   84.68%
TH_ratio    33.44%
AB_ratio    44.04%

In [122]:
import pandas as pd
import numpy as np

# File path
file = "raw_type_split.xlsx" #only works if the file is in the same folder

# Read the Excel file
    # Only Number of dwellings (#)
        # NOT Number of buildings (#) and Utility floor space (1000 mÂ²)
usecols = [0] + list(range(4, 8)) # Ignore the unwanted colums
skiprows = 0, # Ignore the header
data = pd.read_excel(file, header=0, usecols=usecols, skiprows=skiprows)

# Display all the wanted data
data.head(9)

       Age classes      Total      SFH.1     TH.1     AB.1
0  1955 and before    467 158    401 482  143 241  179 666
1      1956 - 1970    273 512    227 929   81 577  121 358
2      1971 - 1980    249 255    219 673   72 521   91 387
3      1981 - 1990    227 978    202 228   70 619   57 471
4      1991 - 2000    129 157    109 696   55 632   65 056
5      2001 - 2010    134 737     98 808   67 624  126 975
6   2011 and after     28 598     19 144   13 929   23 194
7              SUM  1 510 395  1 278 960  505 143  665 107

In [123]:
# Creating a pandas series object of the last row with SUM of Dwellings in 2012
SUM_dwellings = pd.Series([1510395, 1278960, 505143, 665107])
SUM_dwellings.index = ['Total', 'SFH', 'TH', 'AB'] # Assigning names to the values

# Dividing SUM values for each type, SFH, TH, and AB, by Total and storing them as new parameters
SUM_dwellings['SFH_ratio'] = SUM_dwellings['SFH'] / SUM_dwellings['Total']
SUM_dwellings['TH_ratio'] = SUM_dwellings['TH'] / SUM_dwellings['Total']
SUM_dwellings['AB_ratio'] = SUM_dwellings['AB'] / SUM_dwellings['Total']

# Display the ratios as both decimals and percentages
#pd.set_option('display.float_format', '{:.2f}'.format) # To display option to show numbers in standard decimal notation
pd.set_option('display.float_format', '{:.2%}'.format)

# Display the result
print(SUM_dwellings[['SFH_ratio', 'TH_ratio', 'AB_ratio']])

SFH_ratio   84.68%
TH_ratio    33.44%
AB_ratio    44.04%
dtype: float64